<% if user_signed_in? %>
  <% if art_log_like = ArtLogLike.find_by(user_id: current_user.id, art_log_id: art_log.id) %>
    <a data-remote="true" rel="nofollow" data-method="delete" href="/art_logs/<%=art_log.id%>/art_log_likes/<%=art_log_like.id%>" class="bb0">
			<h2 class="mb0 align-center"><i class="fas fa-heart pink bb0"></i></h2>
		</a>
  <% else %>
    <a data-remote="true" rel="nofollow" data-method="post" href="/art_logs/<%=art_log.id%>/art_log_likes" class="bb0">
			<h2 class="mb0 align-center"><i class="far fa-heart"></i></h2>
		</a>
  <% end %>
<% else %>
  <%= link_to new_user_session_path do %>
    <h2 class="mb0 align-center"><i class="far fa-heart"></i></h2>
  <% end %>
<% end %>
