<div class="row">
  <div class="off-2 col-8 off-0-xsmall col-12-xsmall">
    <% @articles.each do |article| %>
      <%= link_to article_path(article) do %>
        <div class="article-container">
          <div class="article-image">
            <%= image_tag article.image.to_s, class: "image w100"%>
          </div>
          <h2 class="article-title mt10 mb10">
            <%= article.title %>
          </h2>
          <div id="preview_body<%= article.id %>" class="article-body mb0 dark">
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>