<div class="row">
  <div class="off-2 col-8 off-0-xsmall col-12-xsmall">
    <% @articles.each do |article| %>
      <%= link_to article_path(article) do %>
        <div class="article-container">
          <div class="adjust-box box-16x9">
            <div class="inner-box align-center">
              <%= image_tag article.image.to_s, class: "image w100 h100", style: "object-fit: cover;" %>
            </div>
          </div>

          <h2 class="article-title mt10 mb5">
            <%= article.title %>
          </h2>

          <div class="gray">
            <%= l article.updated_at, format: :short_date %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>