<div class="row">
	<% exhb_logs.each do |exhb_log| %>
		<div class="col-6 col-12-xsmall mb10">
			<%= render partial: "users/show", locals: {user: exhb_log.user} %>
			<%= render partial: "exhb_logs/show", locals: {exhb_log: exhb_log} %>
		</div>
	<% end %>
</div>
