<section>
	<div class="row">
		<div class="off-3 col-2 off-1-xsmall col-5-xsmall">
			<h3 class="align-center w100">
				<i class="fas fa-search dark"></i>
				<div class="dark">展覧会を探す</div>
			</h3>
		</div>
		<div class="col-2 col-1-xsmall">
			<h2 class="align-center w100 mt5">
				<i class="fas fa-arrow-right"></i>
			</h2>
		</div>
		<div class="col-2 col-4-xsmall">
			<div class="align-center disabled w100">
				<i class="fas fa-edit light-gray"></i>
				<div class="light-gray">感想を残す</div>
			</div>
		</div>
	</div>
	<%= form_with(url: exhibitions_path, method: :get, local: true) do |form| %>
		<div class="row mb10">
			<div class="off-2 col-4 off-0-xsmall col-6-xsmall">
				<%= form.text_field :exhb_area, value: params[:exhb_area], placeholder: "場所（例：東京）" %>
			</div>
			<div class="col-4 col-6-xsmall">
				<%= form.text_field :exhb_name, value: params[:exhb_name], placeholder: "展名（例：ゴッホ展）" %>
			</div>
		</div>
		<div class="row mb10">
			<div class="off-2 col-4 off-0-xsmall col-6-xsmall aln-center"><div id="art_form_reset" class="w100 pink mt5" style="text-align:center;" tabindex="0">リセット</div></div>
			<div class="col-4 col-6-xsmall align-center"><input type="submit" value="検索" class="primary" /></div>
		</div>
	<% end %>

	<div class="row">
		<% @exhibitions.each do |exhb| %>
			<div class="col-3 col-6-xsmall">
				<%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
			</div>
		<% end %>
	</div>
</section>

<script type="text/javascript" language="javascript">
	$(function() {
		$('#exhb_form_reset').on('click', function(){
			$('#exhb_area').val("");
			$('#exhb_name').val("");
			$('#exhb_date').val("");
    });
	});
</script>