<% if user_signed_in? %>
	<% if exhb_clip = ExhbClip.find_by(user_id: current_user.id, exhibition_id: exhb.id) %>
		<a data-remote="true" rel="nofollow" data-method="delete" href="/exhibitions/<%=exhb.id%>/exhb_clips/<%=exhb_clip.id%>">
			<i class="fas fa-thumbtack pink"></i>
		</a>
	<% else %>
		<a data-remote="true" rel="nofollow" data-method="post" href="/exhibitions/<%=exhb.id%>/exhb_clips">
			<i class="fas fa-thumbtack"></i>
		</a>
	<% end %>
<% else %>
	<%= link_to new_user_session_path do %>
		<i class="fas fa-thumbtack"></i>
	<% end %>
<% end %>
