<!-- Section -->
<section>
  <header class="major">
    <h2>今人気の展覧会</h2>
  </header>
  <div class="features">
    <% @exhibitions.each do |exhb| %>
			<article>
				<%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
			</article>
		<% end %>
  </div>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>今人気の作品</h2>
  </header>
  <div class="features">
    <%= render partial: "arts/index", locals: {arts: arts} %>
  </div>
</section>
