<!-- Section -->
<section>
  <header class="major">
    <h2>今人気の展覧会</h2>
  </header>
  <div class="features row">
    <% @exhibitions.each do |exhb| %>
			<div class="col-3 col-6-xsmall pl10 pr10">
				<%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
			</div>
		<% end %>
  </div>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>今人気の作品</h2>
  </header>
  <div class="features row">
    <% arts.each do |art| %>
      <div class="col-3 col-6-xsmall pl10 pr10">
        <%= render partial: "arts/show", locals: {art: art} %>
      </div>
    <% end %>
  </div>
</section>
