<section class="mt100">
  <div class="mt10 row">
    <h2 class="col-12 align-center">
      ログインすると<br class="br-sp">感想を投稿できるようになります
    </h2>
  </div>

  <div class="mt10 row">
    <h3 class="col-12 align-center">
      <%= link_to 'ログイン', new_log_path, class: "button" %>
    </h3>
  </div>
</section>

