<section>
  <div class="row">
    <div class="col-6">
      <header id="exhb_tab" class="major align-center cursor">
        <h2 id="exhb_tab_text">人気の展覧会</h2>
      </header>
    </div>

    <div class="col-6">
      <header id="art_tab" class="align-center cursor">
        <h2 id="art_tab_text" class="gray">人気の作品</h2>
      </header>
    </div>
  </div>

  <div id="content">
    <%= render partial: "exhibitions/index", locals: {exhibitions: @exhibitions} %>
  </div>
</section>


<script type="text/javascript" language="javascript">
  $('#exhb_tab')[0].onclick = function () {
    $('#exhb_tab').addClass("major")
    $('#exhb_tab_text').removeClass("gray")
    $('#exhb_tab_text').addClass("dark")
    $('#art_tab').removeClass("major")
    $('#art_tab').removeClass("dark")
    $('#art_tab_text').addClass("gray")
    $("#content").html("<%= j(render partial: "exhibitions/index", locals: {exhibitions: @exhibitions}) %>");
  }
  $('#art_tab')[0].onclick = function () {
    $('#exhb_tab').removeClass("major")
    $('#exhb_tab_text').removeClass("dark")
    $('#exhb_tab_text').addClass("gray")
    $('#art_tab').addClass("major")
    $('#art_tab_text').removeClass("gray")
    $('#art_tab').addClass("dark")
    $("#content").html("<%= j(render partial: "arts/index", locals: {arts: @arts}) %>");
  }
</script>