<section>
	<div class="row">
		<div class="off-3 col-2 off-1-xsmall col-5-xsmall">
			<h3 class="align-center w100">
				<i class="fas fa-search dark"></i>
				<div class="dark">作品を探す</div>
			</h3>
		</div>
		<div class="col-2 col-1-xsmall">
			<h2 class="align-center w100 mt5">
				<i class="fas fa-arrow-right"></i>
			</h2>
		</div>
		<div class="col-2 col-4-xsmall">
			<div class="align-center disabled w100">
				<i class="fas fa-edit light-gray"></i>
				<div class="light-gray">感想を残す</div>
			</div>
		</div>
	</div>
	<%= form_with(url: arts_path, method: :get, local: true) do |form| %>
		<div class="row mb10">
			<div class="off-2 col-4 off-0-xsmall col-6-xsmall">
				<%= form.text_field :art_name, value: params[:art_name], placeholder: "作品名（例:ひまわり）" %>
			</div>
			<div class="col-4 col-6-xsmall">
				<%= form.text_field :artist_name, value: params[:artist_name], placeholder: "作者名（例:ゴッホ）" %>
			</div>
		</div>
		<div class="row mb10">
			<div class="off-2 col-4 off-0-xsmall col-6-xsmall aln-center"><div id="art_form_reset" class="w100 pink mt5" style="text-align:center;" tabindex="0">リセット</div></div>
			<div class="col-4 col-6-xsmall align-center"><input type="submit" value="検索" class="primary" /></div>
		</div>
	<% end %>

	<div class="row">
		<% @arts.each do |art| %>
			<div class="col-3 col-6-xsmall">
				<%= render partial: "arts/show", locals: {art: art} %>
			</div>
		<% end %>
	</div>
</section>

<script type="text/javascript" language="javascript">
	$(function() {
		$('#art_form_reset').on('click', function(){
			$('#art_name').val("");
			$('#artist_name').val("");
    });
	});
</script>