/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "css/main";

.bold {
  font-weight: bold;
}

.center {
  margin: 0 auto;
}

.is-text {
  white-space: pre-wrap;
}

// border
.b0 {
  bottom: 0;
}

.bb0 {
  border-bottom: 0px;
}

.circle {
  border-radius: 50%;
}

// margin
.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml30 {
  margin-left: 30px;
}

.header-bg{
  background-color: white;
}

.header-ml {
  margin-left: 420px;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .header-ml {
    margin-left: 60px;
  }
}
@media screen and (max-width: 736px) {
  .header-ml {
    margin-left: 40px;
  }
}

.header-nav-container {
  position: absolute;
  height: 100%;
  top: 50%;
  right: 0;
  transform: translate(0%,-50%);
  display: flex;
  align-items: center;

  .item {
    margin-right: 10px;
  }
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mb0 {
  margin-bottom: 0px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}

// padding
.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pb0 {
  padding-bottom: 0;
}

.pb5 {
  padding-bottom: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pl0 {
  padding-left: 0;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pl150 {
  padding-left: 150px;
}

// color
.pink {
  color: #f56a6a;
}

.yellow {
  color: #f8f060;
}

.dark {
  color: #3d4449;
}

.gray {
  color: #7f888f;
}

.light-gray {
  color: #cfd3d6;
}

.light-pink {
  color: rgba(245, 106, 106, 0.15);
}

.white {
  color: white;
}

a.button.dark {
  color: #3d4449 !important;
  box-shadow: inset 0 0 0 2px #3d4449;
}

a.button.gray {
  color: #7f888f !important;
  box-shadow: inset 0 0 0 2px #7f888f;
}

a.button.light-gray {
  color: #cfd3d6 !important;
  box-shadow: inset 0 0 0 2px #cfd3d6;
}

// width
.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

// height
.h100 {
  height: 100%;
}

// サイズ
.adjust-box {
  position: relative;
  width: 100%;
  height: auto;
}

.box-1x1:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.box-16x9:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.box-3x4:before {
  content: "";
  display: block;
  padding-top: 133.33%;
}

.inner-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// font-size
@media screen and (max-width: 480px) {
  h2.mobile-fs3em {
    font-size: 3em;
  }
  h2.mobile-fs2em {
    font-size: 2em;
  }
}

// cursor
.pointer {
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}

// wrap
.wrap_3 {
  overflow: hidden;
  height: 3em;
}

// centering
.outer {
  position: relative;
}

.outer > .inner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

// display
.hidden {
  display: none;
}

.non-active {
  display: none;
}

.block {
  display: block;
}

.star {
  display: inline-block;
}

.flex-container {
  display: flex;
}

.flex-container.space-between {
  justify-content: space-between;
}

.flex-container.space-around {
  justify-content: space-around;
}

.flex-container.space-evenly {
  justify-content: space-evenly;
}

.flex-container.flex-start {
  justify-content: flex-start;
}

.flex-container.center {
  align-items: center;
}

.flex-container.baseline {
  align-items: baseline;
}

.flex-container.stretch{
  align-items: stretch;
}

.flex-container.wrap {
  flex-wrap: wrap;
}

.flex-container.vertical {
  flex-direction: column;
}

// overlay
.overlay {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay.bg-white {
  background-color: #f5f6f7;
}

.overlay.bg-transp-dark {
  background-color: #0004;
}

.overlay.bg-transp-black {
  background-color: rgba(0,0,0,0.85);
}


// swiper
.swiper-parent {
  position: relative;
}

.swiper-container {
  width: calc(100% - 60px);	/* ☆前・次ページボタンの幅をそれぞれ30pxとして、その分を引く */
	box-sizing: content-box;
}

.swiper-button-prev, .swiper-button-next {
	top: calc((100% - 19px) * 0.5);	/* ☆★ページネーション・スクロールバー（30px）を除く縦位置の中央（＝スライドの高さの中央）に一旦配置 */
	margin-top: -11px;			/* ★ボタンの高さ（44px）の半分のネガティブマージンで上に少しずらす */
}


// footer
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 400;
  background-color: #f5f6f7;
  border-top: solid 1px #3d4449;
  display: flex;
  justify-content: space-around;
}

.menu-icon-box {
  text-align: center;
  font-size: 20px;
}

.menu-icon {
  vertical-align: middle;
}

// 星の分母
span.denominator {
  font-size: 0.6em;
}

// ホーム
.home-tab-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 0 0 0;
  margin: 10px 0 5px 0;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
}

.rank-box {
  position: absolute;
  top: 0;
  left: 5px;
  width: 25%;
}

.rank-star {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 2.5em;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}

.rank-number {
  position: absolute;
  top: 0.65em;
  left: 0;
  width: 100%;
  font-size: 1.5em;
  color: #3d4449;
}

.log-container {
  border-radius: 15px;
  background-color: white;
  padding: 0 5px 5px 5px;
  margin: 10px 0 0 0;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
}

.user-info {
  width: 100%;
  padding: 5px 0 5px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.ellipsis {
  position: absolute;
  right: 1em;
  cursor: pointer;
}

.submenu-modal {
  position: fixed;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: transparent;
  overflow-y: scroll;

  .container {
    border-radius: 10px;
    background-color: #f5f6f7;
    text-align: center;

    .item {
      font-size: 1.5em;
      background-color: transparent;
      padding: 5px 0;
    }

    .item.delete {
      color: #f56a6a;
    }

    .item.edit {
      color: #7f888f;
    }
  }
}

.log-body-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 50px;
}

.reaction-buttons {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
}

// 検索タブ
.search-tab-container {
  border-radius: 15px 15px 0 0;
  background-color: white;
  padding: 10px 0 0 0;
  margin: 10px 0 0 0;
}

.header-tab {
  border-bottom: solid 3px white;
  margin: 0 0 1em 0;
  padding: 0 0.75em 0.5em 0.75em;
}
.highlight {
  border-bottom: solid 3px #f56a6a;
}

.search-field {
  border-radius: 0 0 15px 15px;
  background-color: white;
  padding: 0 5px 10px 5px;
  margin: 0 0 5px 0;
}

.museum-container {
  border-radius: 5px;
  background-color: white;
  padding: 10px 5px 5px 5px;
  margin: 5px 0 5px 0;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
}

.exhb-container {
  position: relative;
  border-radius: 5px;
  background-color: white;
  padding: 5px 5px 5px 5px;
  margin: 5px 0 5px 0;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
}

.art-container {
  border-radius: 5px;
  background-color: white;
  padding: 5px 5px 5px 5px;
  margin: 5px 0 5px 0;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
}

// ログ投稿画面
.new-log-container {
  border-radius: 15px;
  background-color: white;
  padding: 5px 5px 0 5px;
  margin: 10px 0 0 0;
}

.input-range[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffdae7;
  height: 2px;
  width: 100%;
  border-radius: 6px;

  &:focus,
  &:active {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
    border: 2px solid #f56a6a;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}

.select-target-area {
  border: dashed 2px #cfd3d6;
  border-radius: 10px;
  text-align: center;
}

.select-target-area-inner-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.save-btn {
  position: fixed;
  top: 0.5em;
  right: 15px;
  width: auto;
  text-align: center;
  z-index: 150;
  cursor: pointer;
}

.comment-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 18%;
}

.bg-art-stars {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: #0008;
  border-radius: 5px;
}

.art-stars {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 18%;
}

.art-name-container {
  border-radius: 0 0 5px 5px;
  background-color: white;
}

.bg-art-log {
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #0008;
  border-radius: 5px;
}

.art_image_preview {
  background-color: #f5f6f7;
  border: dashed 2px #cfd3d6;
  border-radius: 15px;
}

// ログ投稿画面 検索モーダル
#search_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #f5f6f7;
  overflow-y: scroll;
}

.modal_art {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #0008;
  overflow-y: scroll;
  padding-top: 65px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 40px;
}


// トレンド
.trend-tab-container {
  height: 80%;
  border-radius: 15px;
  background-color: white;
  padding: 10px 0 0 0;
  margin: 10px 0 5px 0;
}

// マイページ
.mypage-user-info-container {
  border-radius: 15px;
  background-color: white;
  padding: 5px 10px 10px 10px;
  margin: 10px 0 0 0;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
}

.mypage-tab-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 0 0;
  margin: 10px 0 0 0;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
}

// プロフィール編集
.edit-bg {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 20px 10px;
  margin: 10px 0 10px 0;
}

// プロフィール画像編集
// トリミング部の親要素
.crop_modal {
  width: 100%;
  position: relative;
  padding-top: 6em;
  right: 0;
  left: 0;
  margin: 0 auto;
}

// 閉じるボタンを擬似要素で作成
.overlay .close_btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.overlay .close_btn:before {
  display: block;
  content: "";
  width: 1px;
  height: 36px;
  background-color: #f56a6a;
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  left: 25px;
}
.overlay .close_btn:after {
  display: block;
  content: "";
  width: 1px;
  height: 36px;
  background-color: #f56a6a;
  transform: rotate(-45deg);
  position: absolute;
  top: 8px;
  left: 25px;
}

// トリミング決定ボタン
.overlay .buttons {
  width: 100%;
  position: absolute;
  bottom: 60px;
}

// 美術館詳細ページ
.museum-header-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 0 10px;
  margin: 10px 0 5px 0;
}

.museum-info {
  padding: 10px 10px 0 10px;
  margin: 10px 0 5px 0;
}

.exhibitions-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 0 10px;
  margin: 5px 0 10px 0;
}

// 展覧会詳細ページ
.exhibition-header-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 0 10px;
  margin: 10px 0 5px 0;
}

.exhibition-info-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 5px 0 5px 0;
}

.highlight-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 5px 0 5px 0;
}

.arts-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 0 10px;
  margin: 5px 0 10px 0;
}

.exhibition-outline-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 10px 0 10px 0;
}

.exhibition-logs-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 10px 0 10px 0;
}

// 作品詳細ページ
.art-header-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 0 10px;
  margin: 10px 0 5px 0;
}

.art-info-container{
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 5px 0 5px 0;
}

.art-logs-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 5px 0 10px 0;
}

// 展覧会ログ詳細ページ
// 作品ログ詳細
.logs-container {
  border-radius: 15px;
  background-color: white;
  padding: 5px 10px 5px 10px;
  margin: 10px 0 0 0;
}

.log-exhibition-info-container {
  border-radius: 15px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 10px 0 10px 0;
}

// Articles
.article-container {
  border-radius: 5px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 10px 0 20px 0;
}

.article-submit-buttons {
  display: flex;
  justify-content: space-around;
}