<div class="row">
	<% exhb_logs.each do |exhb_log| %>
		<div class="col-6 col-12-xsmall">
			<h3>
				<%= link_to exhb_log.exhibition.name, exhibition_path(exhb_log.exhibition), class: "" %>
			</h3>

			<%= render partial: "exhb_logs/show", locals: {exhb_log: exhb_log} %>

			<% exhb_log.art_logs.each do |art_log| %>
				<%= render partial: "art_logs/show", locals: {art_log: art_log} %>
			<% end %>
		</div>
	<% end %>
</div>
